<header class="masthead mb-auto">
  <div class="inner">
    <nav class="navbar navbar-expand-sm">
      <a href="#" class="navbar-brand">Joe Baker</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMenu">
          <ul class="navbar-nav">
            <%= nav_helper "nav-link", "li" %>
            <%= login_helper "nav-link" %>
          </ul>
      </div>
    </nav>
  </div>
</header>
