<div class="app-card-container">
  <div class="card">
    <main role="main" class="inner cover">
      <h1 class="cover-heading">About Me</h1>
      <div class="row">
        <div class="col-md-4">
          <%= image_tag "joseph-baker.jpg", width: 200, alt: "profile-image" %>
        </div>
        <div class="col-md-8">
          <p class="lead">I'm a Full-Stack Web Developer based in the San Francisco Bay Area. With a background in both Information Systems and Web Development, I'm well versed in creating feature rich web applications as well as transforming data into useful information.</p>

          <p>
            <button
              class="btn btn-primary"
              type="button"
              data-toggle="collapse"
              data-target="#skills"
              aria-expanded="false"
              aria-controller="skills"
            >
            Skills
            </button>

            <button
              class="btn btn-primary"
              type="button"
              data-toggle="collapse"
              data-target="#jobHistory"
              aria-expanded="false"
              aria-controller="jobHistory"
            >
            Job History
            </button>
            <button
              class="btn btn-primary"
              type="button"
              data-toggle="collapse"
              data-target="#education"
              aria-expanded="false"
              aria-controller="education"
            >
            Education
            </button>
          </p>

          <p>
            <div class="collapse" id="skills">
              <div class="card card-block">
                skillllzzzzzz
              </div>
            </div>

            <div class="collapse" id="jobHistory">
              <div class="card card-block">
                job history
              </div>
            </div>
            <div class="collapse" id="education">
              <div class="card card-block">
                Education
              </div>
            </div>
          </p>
        </div>
      </div>
    </main>
  </div>
</div>
