<div class="app-card-container">
  <div class="card contact-card">
    <main role="main" class="inner cover contact-cover">
      <h1 class="cover-heading contact-heading">Get in touch</h1>
      <p class="lead contact">Email - <a class="links" href="mailto:joelucasbaker@gmail.com?subject=Let's get in touch">joelucasbaker@gmail.com</a></p>
      <p class="lead contact">Phone - (484) 786-3731</p>
      <p class="lead contact">Social - <a class="links" href="#"><%= fa_icon "linkedin" %></a> <a href="#"><%= fa_icon "github" %></a></p>
    </main>
  </div>
</div>
