<main role="main" class="inner cover contact-cover">
  <div class="card">
    <h1 class="cover-heading contact-heading">Get in touch</h1>
    <p class="lead contact">Email - <a class="links" href="mailto:joelucasbaker@gmail.com?subject=Let's get in touch">joelucasbaker@gmail.com</a></p>
    <p class="lead contact">Phone - (484) 786-3731</p>
    <p class="lead contact">Social - <a class="links" href="https://www.linkedin.com/in/joelucasbaker"><%= fa_icon "linkedin" %></a> <a href="https://github.com/josephlbaker"><%= fa_icon "github" %></a></p>
  </div>
</main>
