<main role="main" class="inner cover home-cover">
  <div id="background"></div>
  <h1 class="cover-heading">I'm Joe.</h1>
  <p class="lead">A Full-Stack Developer based in the Bay Area</p>
  <p class="lead">
    <%= link_to "Learn more", about_me_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "View Projects", portfolios_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>
