<main role="main" class="inner cover news-cover">
  <div class="card">
    <h1 class="cover-heading news-heading">In the news <%= fa_icon "twitter", class: "twitter-icon" %></h1>
    <div class="row">
      <% @tweets.each do |tweet|%>
        <div class="col-md-6">
          <div class="tech-news">
            <div class="card">
              <%= twitter_parser tweet %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>
